<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="/notes">
            <fieldset>
                <input type="hidden" id="notes-title" type="text" name="notesTitle" value="{{notes.title}}"/>

                {{> notes-form}}
                            <button class="btn btn-primary" type="submit">Save Note</button>
            </fieldset>

        </form>
    </div>
</div>
  
